@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-LightSemiExt.woff2') format('woff2'),
        url('MyriadPro-LightSemiExt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

